
.crud {
  position: relative;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  min-height: 550px;

}

.crud::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../fondoC.png');
  background-size: contain;
  background-position: center;
  opacity: 0.6;
  z-index: -1;
  background-repeat: no-repeat;
}

.container-table {
  margin: auto;
  /* Centra la tabla en su contenedor */
  min-width: 200px;
  /* Ajusta el ancho máximo según tus necesidades */
  max-width: 700px;
  /* Ajusta el ancho máximo según tus necesidades */
  padding-top: 30px;
}


.form-label{
  font-weight: bolder;
}
#sede{
  border: 1px solid black;
  font-weight: bold;

}
#nombreOficina{
  border: 1px solid black;
  font-weight: 600;
}
option{
  font-weight: bold;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
  font-weight: bold;
  
}

td, th {
  border: 2px ridge #866262 !important; 
  padding: 8px;
}

thead {
  background: linear-gradient(to right, #b9b9b94d, #505050);

}

.sidebar ul li a i {
  margin-right: 25px; /* Espacio entre el ícono y el texto */
}
i{
  margin-right: 25px;
  color: rgb(11, 202, 186);
}