* {
  margin: 0;
  padding: 0;
  user-select: none;
  color: black;
  box-sizing: border-box;
  font-family: sans-serif;
}

.sidebar {
  position: fixed;
  width: 245px;
  height: 100%;
  left: 0;
  background: #292929;
}

.sidebar .text {
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
  background: #333;
  letter-spacing: 1px;
  border-bottom: 1px solid #000;

}

nav ul {
  background-color: #222;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li {
  margin: 1px;
  line-height: 60px;
  border: 1px solid #000;
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li.active a {
  color: white;
  border: 1px solid;
  background-color: #333;
  border-left-color: white;
}

nav ul ul {
  position: static;
  display: none;
}



nav ul ul li {
  line-height: 42px;
  border-bottom: none;
}

nav ul ul li a {
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}






span {
  color: white;
}
/* ------------------------------------ */

#titulo {
  padding: 20px;
  margin-left: 280px;
  text-align: center;
}

.mantenimiento {
  display: flex;
  align-items: center;
  background-color: #333;
  border-left-color: transparent;
  height: 30px;
  justify-content: center;
}

.tituloM {
  color: #e6e6e6;
  padding-left: 25px;
  font-size: 16px;
  padding-right: 20px;
}


.crud {
  margin-left: 245px;
  padding: 20px;
}

/* ------------------------------------ */

.boxshadow {
  color: black;
  padding: 5px;
  box-shadow: 0 0 10px rgba(32, 31, 31, 0.5),
    0 0 20px rgba(0, 0, 0, 0.2) inset;

}

.top-bar {
  margin-left: 245px;
  padding: 25px;
  background-color: #333;
  border-left: 1px solid #000;
  /* Color de fondo similar al de Facebook */
  color: white;
  padding: 10px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}

.boxshadow {
  background-color: #fff;
  /* Fondo del contenedor blanco */
  border-radius: 50%;
  /* Forma circular */
  width: 50px;
  /* Tamaño del contenedor */
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Sombra suave */
}

.boxshadow img {
  width: 40px;
  /* Tamaño de la imagen dentro del círculo */
  height: 40px;
  border-radius: 20%;
  /* Forma circular para la imagen */
}

.dropdown-menu {
  text-align: center;
  display: none;
  /* Por defecto, el menú está oculto */
  position: absolute;
  top: 50px;
  /* Posición debajo del botón */
  right: 10px;
  /* Alineación a la derecha */
  background-color: #fff;
  /* Fondo blanco */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Sombra suave */
  z-index: 1000;
  /* Asegura que el menú esté sobre otros elementos */
}

.dropdown-menu a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 5px 30px;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
  /* Color de fondo al pasar el ratón */
}
/* ------------------------------------ */
.mantenimiento {
  display: flex;
  align-items: center;
  background-color: #333;
  border-left-color: transparent;
  height: 30px;
  justify-content: center;
}

.tituloM {

  color: #e6e6e6;
  padding-left: 25px;
  font-size: 16px;
  padding-right: 20px;
  padding-top: 10px;
}

nav ul {
  padding-left: 0;
}

#welcomeAdm {
  color: white;
  font-size: 25px;
  padding-left: 42px;
}

.paginaActual{
  background-color: #333;
  border-left: 5px solid white;
}
.title {
  color: black;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label{
  font-weight: bold;
}
.mantenimiento {
  display: flex;
  align-items: center;
  background-color: #333;
  border-left-color: transparent;
  height: 30px;
  justify-content: center;
}

.tituloM {
  margin-top: 7px;
  color: #e6e6e6;
  padding-left: 25px;
  font-size: 16px;
  padding-right: 20px;
  padding-bottom: 5px;
  font-weight: bold;
}

.sidebar ul li a i {
  margin-right: 25px; /* Espacio entre el ícono y el texto */
}
i{
  margin-right: 25px;
  color: rgb(11, 202, 186);
}