* {
  margin: 0;
  padding: 0;
  user-select: none;
  color: black;
  box-sizing: border-box;
  font-family: sans-serif;
}

.sidebar {
  position: fixed;
  width: 245px;
  height: 100%;
  left: 0;
  background: #505050;
}

.sidebar .text {
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
  background: #333;
  letter-spacing: 1px;
  border-bottom: 1px solid #000;

}

nav ul {
  background-color: #222;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li {
  line-height: 60px;
  border: 1px solid #000;
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li.active a {
  color: white;
  background-color: #333;
  border-left-color: white;
}

nav ul ul {
  position: static;
  display: none;
}

nav ul .feat-show.show {
  display: block;
}

nav ul ul li {
  line-height: 42px;
  border-bottom: none;
}

nav ul ul li a {
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}

nav ul li.active ul li a {
  color: #e6e6e6;
  background-color: #3d3d3d;
  border-left-color: transparent;
}

nav ul ul li a:hover {
  color: black !important;
  font-weight: 700;
  background: #222222 !important;
}

nav ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}



nav ul li a:hover span {
  transform: translateY(-50%) rotate(-180deg);
}

span {
  color: white;
}

#titulo {
  margin: 0;
  padding: 20px;
  text-align: center;
}
/* --------------------------------- */
.pantalla {
  position: relative; 
  margin-left: 280px;
  overflow: hidden; 
}
.pantalla::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./pages/fondoC.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.35; /* Cambiar para la transparencia (0.0 a 1.0) */
  z-index: -1;
}
/* --------------------------------- */
.contenido {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
}

.div1 {
  grid-column: 1 / 7; /* Abarca 3 columnas */
  grid-row: 1 / 3; /* Ab  arca 1 fila */
  margin-bottom: 20px;
  background-color: rgba(228, 221, 219, 0.404);
  border: 1px solid;
  border-radius: 20px;
}

.div2 {
  grid-column: 1 / 7; /* Abarca 3 columnas */
  grid-row: 3 / 5; /* Abarca 1 fila */
  margin-bottom: 20px;
  background-color: rgba(228, 221, 219, 0.404);
  border: 1px solid;
  border-radius: 20px;
}

.div3 {
  grid-column: 1 / 7; /* Abarca 6 columnas */
  grid-row: 5 / 7; /* Abarca 1 fila */
  padding-top: 0;
  background-color:rgba(228, 221, 219, 0.404);
  border: 1px solid;
  border-radius: 20px;
}
/* --------------------------------- */
#titulo {
  padding: 20px;
  margin-left: 280px;
  text-align: center;
}

.mantenimiento {
  display: flex;
  align-items: center;
  background-color: #333;
  border-left-color: transparent;
  height: 30px;
  justify-content: center ;

}

.tituloM {
  color: #e6e6e6;
  padding-left: 25px;
  font-size: 16px;
  padding-right: 20px;
  padding-bottom: 15px;

}

.paginaActual{
  background-color: #333;
  border-left: 5px solid white;
}
.sidebar ul li a i {
  margin-right: 25px; /* Espacio entre el ícono y el texto */
}
i{
  margin-right: 25px;
  color: rgb(11, 202, 186);
}