
.crud {
    position: relative;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    min-height: 550px;
  
  }
  
  .crud::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../fondoC.png');
    background-size: contain;
    background-position: center;
    opacity: 0.7;
    z-index: -1;
    background-repeat: no-repeat;
  }
  /* -------------------------- */
  table {
    margin: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
    font-weight: bold;
  }
  
  td,
  th {
    border: 2px ridge #866262 !important;
    padding: 8px;
  }
  
  .transparent-table {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .transparent-table th,
  .transparent-table td {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  thead{
    background: linear-gradient(to right, #c548484d, #8a1919);
  }
  /* ------------------------------- */
  .row{
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .form-control{
    border: 1px solid black !important;
  }
  
  .form-label{
    color: black;
    font-size: 20px;
  }
  .modal-title{
    padding-left: 50px;
  }
  .modal-footer{
    display: flex;
    margin: auto;
  }
  .modal-body{
    text-align: start;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
  }
  #modalDetalleLabel{
    color: rgb(56, 4, 4);
  }

.imagenPracti{
  width: 50px;
}
.atender-body{
  padding-top: 30px;
  padding-bottom: 30px;
}