ul {
    padding-left: 0;
}

.crud {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.card {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

