
.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bsuperior {
  text-align: center;
  color:  darkblue;
}

.logout-btn {
  background-color: darkturquoise;
  border: none;
  color: white;
  font-weight: bold;
  padding: 0.45rem 0.55rem;
  letter-spacing: 0.6px;
  font-size: 1.1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.logout-btn:hover {
  color: white;
  background-color: #1202f0;
  border-color: black;
  
}


.form-control {
  width: 100%;
  max-width: 100%;
}

.form-label {
  color: white;
  background:#807a7a;
  padding: 2px;
  min-width: 280px;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  color: darkblue;
}

option {
  width: 100%;
  max-width: 100%;
}
#container{
  height: auto;
  width: 100%;
  background: linear-gradient(45deg,#333,#807a7a,#524f4f,#333);
  background-size: 300%,300%;
  animation: color 12s ease-in-out infinite;
}

@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
.nombre{
  margin-top: 0;
  font-weight: bold;
}


select {
  width: 100%;
  padding-right: 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,10" fill="%23000"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

select:focus {
  outline: none;
  border-color: black;
}

select option {
  background-color: #fff; /* Color de fondo por defecto */
  color: #000; /* Color del texto por defecto */
  font-weight: bold;
}

img{
  height: 180px;
  width: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 5px white;
  margin-bottom: 10px;
}
#btnReg{
  margin-left: 38%;
}
.container {
  width: 100%;
}

/* Estilos para pantallas más grandes que celulares */
@media (min-width: 768px) {
  .container {
    width: 60%;
  }

}
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .especificacion{
    margin: 0 !important;
  }
  #label1{
    max-width: 300px;
    font-weight: bold;
  }
}
#tipoProblema{
  margin-left: 50px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 20px;
  background: #635f5f;
}
.especificacion{
  margin-left: 75px;
}